
.gray {
  background-color: gray;
}
.yellow {
  background-color: yellow;
}
body {
  background-color: #ffffff;
  color: #aaa;
}

a {
  color: #00ff00;
  padding: 25px;
}

h1 {
  text-align: center;
}

img {
  width: 300px;
}

